[Desktop Entry]
Name=corewatcher applet
Comment=corewatcher.org privacy question applet
Icon=stock_alarm
Exec=corewatcher-applet
Terminal=false
Type=Application
Categories=Application;System;Utility
X-GNOME-Autostart-enabled=true
X-MeeGo-Priority=Low
